#detail_post{
	padding: 30px 0;
	/*background: #ddd;*/
}
#detail_post .dt-top{
	padding: 10px 0;
	border-bottom: 2px solid #ddd;
	display: table;
	width: 100%;
	clear: both;
}
#detail_post .dt-title a{
	color: #e74c3c;
	text-shadow: 1px 1px 1px #000;
}
#detail_post .dt-top .dt-share, #detail_post .dt-top .dt-statis{
	display: table;
	padding: 10px 0;
	float: left;
}
#detail_post .dt-top .dt-share a, #detail_post .dt-top .dt-statis span{
	background: #ddd;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	float: left;
	display: block;
	margin-right: 2px;
	font-size: 1.3em;
}
#detail_post .dt-top .dt-statis span{
	font-size: 1em;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
#detail_post .dt-top .dt-statis span *{
	font-size: 1.1em;
	color: #e74c3c;
	padding-right: 3px;
}
#detail_post .dt-infor{
	padding: 10px;
	background: #dedede;
}
#detail_post .dt-statis{
	padding: 10px;
}

#detail_post .dt-content{
	padding: 20px 10px;
	margin: 30px 0;
	font-size: 1.2em;
	font-weight: 100;
}

#detail_post .dt-content img{
	max-width: 100%;
}
#detail_post .dt-tag, #detail_post .dt-cate{
	padding: 10px;
	margin: 60px 0;
}
#detail_post .dt-tag .tag-tit, #detail_post .dt-cate .cate-tit{
	margin: 0;
}
#detail_post .dt-tag .tag-tit *, #detail_post .dt-cate .cate-tit *{
	display: table;
	position: relative;
	font-size: 1em;
	text-transform: uppercase;
}
#detail_post .dt-tag .tag-list, #detail_post .dt-cate .acate-list{
	padding: 15px 10px;
	border: 1px solid #e74c3c;
}
 #detail_post .dt-tag .tag-list a, .tag{
 	background: #a7a7a7;
 	position: relative;
 	padding: 5px;
 	margin-right: 32px;
 	color: #efefef;
 	font-weight: 900;
 	font-size: 0.9em;
 	letter-spacing: 0.05em;
 }
#detail_post .dt-tag .tag-list a:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -24px;
	border-style: solid;
	border-width: 12px;
	border-color: transparent transparent transparent #a7a7a7;
}
#detail_post .dt-cate .acate-list{
	list-style: none;
	display: table;
	width: 100%;
}
#detail_post .dt-cate .acate-list li{
	padding: 7px 16px;
	margin-bottom: 3px;
	border-bottom: 1px dotted #d6d6d6;
	position: relative;
}
#detail_post .dt-cate .acate-list li:before{
	content: '';
	position: absolute;
	top: 29%;
	left: 0;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #e74c3c;
}

#detail_post .dt-cate{
	padding: 10px;
}